.Rhistory
.Rapp.history
.DS_Store
old/
data/derived/studies/raw/
data/derived/analysis_cache/
chelsa/
prism/
data/raw/prism/
scripts/run_logs/
models/*.rds
studies_check*
studies_emails*
*.png
ex_3a_prep.R
species_clim.csv
.Rproj.user
